
@import url("font.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "NunitoSans-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
}
html,
body {
    height: 100%;
}

a, button {
    cursor: pointer;
}

.wrapper {
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 15px;
}

/*-----------------------------------------Шапка--------------------------------------------------------*/
.header {
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding-top: 1px;
    min-height: 83px;
    min-width: 100%;
    background: #131313;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1256px;
    margin: 0px auto;
    padding-left: 2px;
    min-height: 37px;
    gap: 45px;
    position: relative;
}

.nav__logo {
    min-width: 179.745px;
    min-height: 10px;
    flex-shrink: 0;
    color: #E3B873;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.navigation {
    display: flex;
    min-width: 581px;
    min-height: 10px;
    margin: 00 20.81px 0 50.47px
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 47.9px;
    margin: 0;
    padding: 0;
    position: relative;
} 

.navigation__link {
    padding-right: 6px;   
    color: #FFF;
    font-size: 11px;
    white-space: nowrap;
}

.link__home {
    color: #E3B873;
}

.button {
    display: inline-flex;
    padding: 13px 33px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 161px;
    max-height: 37px;
    flex-shrink: 0;
    margin-top: 1px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFFFFF;
    font-family: "NunitoSans-Italic", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.navigation__phone {
    display: flex;
    justify-content: end;
    min-width: 126px;
    min-height: 16px;
    flex-shrink: 0;    
    padding-top: 6px;
}

.navigation__phone a {
    color: #E3B873;
    font-size: 11px;
    text-decoration-line: underline;
}

/*-----------------------------------------Main--------------------------------------------------------*/

.main {
    flex: 1 1 auto;
    position: relative;
}

.main__presentation-btn-container {
    display: flex;
    gap: 42px;
}

.main__presentation {
    display: flex;
    min-height: 707px;
    max-width: 100%;
    background-image: url(../images/jpeg/background-of-the-first-section.jpg);
    background-size: 100%; 
    position: relative;
    z-index: -2;   
}

.main__presentation:after {
    content: '';
    background: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.main__presentation-wrap {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    min-width: 1256px;
    justify-content: start;
    padding: 194px 0 0 42px;
    gap: 19px;
    min-height: 100%;
    position: relative;
}

.main__presentation-title {
    display: block;
    max-width: 600px;
}

.main__presentation-title h1,
.main__presentation-title span {
    color: #FFF;
    font-family: "YesevaOne-Regular", serif;
    font-size: 40px;
    line-height: 132.825%; /* 53.13px */
    text-transform: uppercase;
}

.main__presentation-title span {
    color: #E3B873;
}

.main__presentation-text {
    display: block;
    max-width: 504px;
    margin-bottom: 22px;
}

.main__presentation-text p {
    color: #FFF;
    font-size: 22px;
    line-height: 163.68%; /* 36.01px */
}

.main__presentation-btn-one,
.main__presentation-btn-two {
    min-width: 207px;
    min-height: 51px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
}

.main__presentation-btn-two {
    background: transparent;
    border: 1px solid #FFF;
}

.completed-projects {
    display: flex;
    min-height: 1074px;
    flex-shrink: 0;
    max-width: 100%;
    background-color: #131313;
}

.completed-projects__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1256px;
    gap: 50px;
    margin: 0 auto;
    padding: 107px 43px 257.21px 42px;
}

.projects-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 69.36px;
    gap: 34px;
}

.projects-info__row {
    display: flex;
    gap: 68px;

}

.projects-info__column {
    display: flex;
    flex-direction: column;
    min-width: 124px;
    gap: 9px;
}

.projects-info h2 {
    flex-shrink: 0;
    color: #E3B873;
    font-family: "YesevaOne-Regular", serif;
    font-size: 27px;
    line-height: 138.6%; /* 37.422px */
    letter-spacing: -1.89px;
    text-transform: uppercase;
}

.projects-info p {
    display: inline-block;
    max-width: 442px;
    margin-bottom: 8px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    line-height: 190.96%; /* 26.734px */
}

.projects-info__column h3 {
    flex-shrink: 0;
    color: #E3B873;
    font-family: "YesevaOne-Regular", serif;
    font-size: 18px;
    line-height: 138.6%; /* 24.948px */
    text-transform: uppercase;
}

.projects-info__column p {
    font-size: 13px;
    line-height: 163.68%; /* 21.278px */
    max-width: 92px;
}

.projects-info__img-control {
    padding-top: 65px;
}

.projects-picture {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.projects-picture__list {
    display: flex;
    gap: 60.5px;
}

.projects-picture__item span {
    color: rgba(255, 255, 255, 0.30);
    font-family: "YesevaOne-Regular", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 19.404px */
    text-transform: uppercase;
}

.projects-picture__item:first-child span {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6.68px;
}

.online-control {
    display: flex;
    margin-top: -324px;
    min-height: 955px;
    flex-shrink: 0;
    max-width: 100%;
}

/*-------------------------------------------------section online-control----------------------------------------------------*/

.online-control__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1256px;
    gap: 31.21px;
    margin: 0 auto;
    padding: 0;
}

.online-control__dividing-line {
    margin: 30.218px 0 3.25px 0;
    width: 55px;
    height: 1.543px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #E3B873;
}

.online-control__text p {
    max-width: 681px;
    max-height: 130.911px;
    padding-bottom: 62.25px;
    flex-shrink: 0;
    color: #363636;
    text-align: center;
    font-size: 18px;
    line-height: 204.6%; /* 36.828px */
}

.online-control__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12.79px;
}

.online-control__container h2 {
    color: #FFF;
    text-align: center;
    font-family: "YesevaOne-Regular", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
}

.online-control__camera {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.47px;
}

.online-control__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 817px;
    min-height: 434px;
    background-image: url(../images/jpeg/online__control.jpg);
    position: relative;
}

.online-control__picture::after {
    content: '';
    background: rgba(0, 0, 0, 0.80);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.online-control__rectangle {
    width: 32px;
    height: 1.543px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #E3B873;
}

.online-control__camera-img {
    max-width: 196px;
    max-height: 66.792px;
    flex-shrink: 0;
}

.online-control__picture-img {
    max-width: 817px;
    max-height: 434px;
    flex-shrink: 0;
    z-index: 1;
}

.online-control__data-input {
    display: flex;
    flex-wrap: wrap;
    gap: 49px;
    max-width: 769px;
    max-height: 51px;
}

.online-control__btn {
    min-width: 200px;
    min-height: 51px;
    flex-shrink: 0;
    border: #E3B873;
}

.online-control__label {
    display: flex;
    flex-direction: column;
    gap: 6.97px;
    max-width: 231px;
    color: #363636;
    line-height: 163.68%; /* 22.915px */
}

.online-control__label span {
    max-height: 12px;
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
    line-height: 163.68%; /* 21.278px */
    transform: rotate(-0.068deg);
    flex-shrink: 0;
}

.online-control__label input {
    max-height: 17px;
    border: none;
    color: #363636;
    font-size: 14px;
    line-height: 163.68%; /* 21.278px */
    flex-shrink: 0;
}

.online-control__form:nth-child(even) {
    padding-left: 8.99px;
}

/*--------------------------------------------checkbox--------------------------------------------*/

.online-control__data-checkbox {
    display: flex;
    justify-content: center;
    padding-top: 6.03px;
}

.online-control__data-checkbox label {
    max-height: 18px;
    color: #181818;
    font-size: 14px;
    line-height: 163.68%; /* 22.915px */
    flex-shrink: 0;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: self-start;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E3B873;
    border-radius: 2px;
    margin-right: 8.62px;
    background-repeat: no-repeat;
    background-position: center center;
}
.custom-checkbox:checked+label::before {
    border-color: #E3B873;
    background-color: #E3B873;
    background-image: url(../images/svg/checkbox.svg);
}

/*----------------------------------------section types-of-repair------------------------------------------------*/

.types-of-repair__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1256px;
    gap: 31px;
    margin: 0 auto;
    padding: 0;
}

.types-of-repair__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 148px;
    gap: 13px;
}

.types-of-repair__wrap img {
    max-width: 114px;
    max-height: 28px;
}

.types-of-repair__wrap h2 {
    color: #181818;
    text-align: center;
    font-family: "YesevaOne-Regular", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
}

.types-of-repair__list {
    display: flex;
    gap: 30px;
}

.types-of-repair__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.210%;
    
}

.types-of-repair__item-img {
    min-width: 392px;
    min-height: 421px;
    flex-shrink: 0;
}

.item-img__redecorating {
    background-image: url(../images/jpeg/redecorating.jpg);
}

.item-img__overhaul {
    background-image: url(../images/jpeg/overhaul.jpg);
}

.item-img__designer-repair {
    background-image: url(../images/jpeg/designer-repair.jpg);
}

.types-of-repair__item-text {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 84.183%;
    min-height: 286px;
    margin-top: -98px;
    padding: 25px 0 0 0;
    background: #FFF;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.types-of-repair__item-text h3 {
    flex-shrink: 0;
    color: #363636;
    font-family: "YesevaOne-Regular", serif;
    font-size: 18px;
    line-height: 138.6%; /* 24.948px */
    padding-left: 34px;
}

.types-of-repair__sublist {
    padding-left: 34px;
    color: #959595;
    font-size: 13px;
    line-height: 204.6%; /* 26.598px */
}

.types-of-repair__btn {
    max-width: 228px;
    min-height: 54px;
    flex-shrink: 0;
    margin-top: 10px;
    padding: 0;
    background: #E3B873;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    border: none;
    color: #FFF;
    font-family: "YesevaOne-Regular", serif;
    font-size: 18px;
    font-style: normal;
    line-height: 138.6%; /* 24.948px */
    text-transform: uppercase;
}

/*----------------------------------------section call-the-measurer------------------------------------------------*/

.call-the-measurer__wrap {
    display: flex;
    max-width: 1440px ;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 124px;
    background-image: url(../images/jpeg/building.jpg);
    background-repeat: no-repeat;
    background-position: 0% bottom;
}

.call-the-measurer__info {
    display: flex;
    flex-direction: column;
    margin: 117.14px 0 0 17.29%;
    gap: 86.03px;
    max-width: 375px;
}

.call-the-measurer__info-item {
    display: flex;
    max-width: 374.807px;
    gap: 10.76px;
}

.call-the-measurer__info-par {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 57.757px;
    min-height: 57.757px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 8px solid #FFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
}

.call-the-measurer__info-par span {
    color: #FFF;
    text-align: center;
    font-family: "YesevaOne-Regular", serif;
    font-size: 18px;
    font-style: normal;
    line-height: 138.6%; /* 24.948px */
}

.call-the-measurer__info-item p {
    color: #363636;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.call-the-measurer__container {
    display: flex;
    flex-direction: column;
    gap: 38.44px;
}

.call-the-measurer__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 506px;
    min-height: 509px;
    margin: 100px 100px 0 0;
    flex-shrink: 0;
    background: #131313;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
}

.call-the-measurer__info-item:last-child {
    max-width: 253px;
}

.call-the-measurer__data h3 {
    padding: 0 13px;
    margin-top: 28px;
    max-width: 297px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 140%;
}

.online-control__btn {
    min-width: 200px;
    min-height: 51px;
    flex-shrink: 0;
    border: #E3B873;
}

.call-the-measurer__label {
    display: flex;
    flex-direction: column;
    gap: 6.97px;
    min-width: 100%;
    background-color: transparent;
    color: #363636;
    line-height: 163.68%; /* 22.915px */
}

.online-control__label span {
    max-height: 12px;
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
    line-height: 163.68%; /* 21.278px */
    transform: rotate(-0.068deg);
    flex-shrink: 0;
}

.online-control__label input {
    max-height: 17px;
    border: none;
    color: #363636;
    font-size: 14px;
    line-height: 163.68%; /* 21.278px */
    flex-shrink: 0;
}

.call-the-measurer__btn {
    min-width: 213px;
    min-height: 51px;
    margin: 23px 49px 0 0;
    align-self: end;
    border: none;
    font-family: "NunitoSans-Regular", sans-serif;
    font-size: 13px;
    font-style: normal;
    line-height: 163.68%; /* 21.278px */
    text-transform: uppercase;
}

.call-the-measurer__checkbox label {
    color: #FFFFFF;
}

.call-the-measurer__form {
    display: flex;
    width: 80.632%;
    height: 9.626%;
    margin: 23px 0 9px 0;
    gap: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
}

.call-the-measurer__form:nth-child(4) {
    margin: 23px 0 0 0;
}

.call-the-measurer__form:nth-child(even) {
    padding-left: 0;
}

.call-the-measurer__label span {
    min-height: 16px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 13px;
    line-height: 163.68%; /* 21.278px */
}

.call-the-measurer__label input {
    color: #FFF;
    width: 100%;
    font-size: 14px;
    line-height: 163.68%; /* 22.915px */
    background-color: transparent;
}

::-webkit-input-placeholder { color: #FFF; }
::-moz-placeholder          { color: #FFF; } /*Firefox 19+*/
:-moz-placeholder           { color: #FFF; } /*Firefox 18-*/
:-ms-input-placeholder      { color: #FFF; }

.call-the-measurer__checkbox {
    padding: 0;
    width: 80.632%;
    justify-content: start;
}

.call-the-measurer__sale {
    display: flex;
    align-items: center;
    max-height: 72px;
    gap: 25px;
}

.call-the-measurer__sale p {
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    font-size: 18px;
    line-height: 143.22%; /* 25.78px */
    max-width: 212px;
}

.call-the-measurer__sale-img {
    max-width: 72px;
    max-height: 72px;
}

/*----------------------------------------section realize-fantasies------------------------------------------------*/

.realize-fantasies__wrap {
    display: flex;
    max-width: 1440px ;
    max-height: 864px;
    margin: 0 auto;
    gap: 43px;
    margin-top: 242.09px;
    background-image: url(../images/jpeg/interior-background.jpg);
    position: relative;
    z-index: -2;
}

.realize-fantasies__wrap::after {
    content: '';
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.90) 100%);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.realize-fantasies__options {
    display: flex;
    flex-direction: column;
    gap: 47px;
    margin: 137.47px 0 0 99px;
}

.realize-fantasies__options h2 {
    color: #E3B873;
    font-family: "YesevaOne-Regular", serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 37.422px */
    text-transform: uppercase;
    max-width: 278px;
}

.realize-fantasies__list {
    display: flex;
    flex-direction: column;
    gap: 23.17px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 20px;
    line-height: 190.96%; /* 38.192px */
}

.realize-fantasies__item {
    display: flex;
    align-items: center;
    max-height: 24px;
}

.realize-fantasies__item:first-child {
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
    max-height: 26px;
    max-width: 149px;
}

.realize-fantasies__item:not(:first-child) {
margin-top: 1.83px;
}

.realize-fantasies__picture-one,
.realize-fantasies__picture-two {
    display: flex;
    flex-direction: column;
}

.realize-fantasies__picture-one {
    gap: 39.01px;
    margin: -40.53px 0 -41.2px 14.652%;
}

.realize-fantasies__picture-two {
    gap: 37px;
    margin-top: -112.53px;
}

/*---------------------------------------------------------------section clients-------------------------------------------------------------------------*/

.clients {
    margin: 110.47px 0 158.99px 0;
}

.clients__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px ;
    margin: 0 auto;
    gap: 13.22px;
    margin-top: 69.26px;
}

.clients-reviews {
    display: flex;
    justify-content: center;
    gap: 54px;
    max-width: 85.833%;
}

.clients-reviews-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 30.420%;
    padding: 24px 31.92px 0 20px;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}

.clients__wrap h2 {
    color: #181818;
    text-align: center;
    font-family: "YesevaOne-Regular", serif;
    font-size: 20px;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
}

.clients__wrap p {
    margin-bottom: 25.78px;
    color: #363636;
    text-align: center;
    font-size: 18px;
    line-height: 163.68%; /* 29.462px */
}

.clients__wrap-img {
    max-width: 114px;
    max-height: 27.62px;
    margin-bottom: 10.94px;
    flex-shrink: 0;
}

.clients-reviews__header {
    display: flex;
    align-items: center;
    
    gap: 23px;
}

.clients-reviews__header img {
    min-width: 76px;
    min-height: 76px;
}

.clients-reviews__header h3 {
    max-width: 178px;
    flex-shrink: 0;
    color: #181818;
    font-family: "YesevaOne-Regular", serif;
    font-size: 18px;
    line-height: 127.05%; /* 22.869px */
}

.clients-reviews__text span {
    max-width: 324.079px;
    color: #959595;
    font-size: 13px;
    text-align: start;
    line-height: 180%; /* 23.4px */
}

.clients-reviews__sign {
    display: block;
    max-width: 293.753px;
    max-height: 54.035px;
    flex-shrink: 0;
    margin: 62.982px 0 -27.017px 0;
}


/*-------------------------------------------------------------------------section feedback---------------------------------------------------------------------------*/

.feedback {
    margin: 0 auto;
}

.feedback__wrap {
    gap: 45.8px;
    padding: 34.4px 0;
    margin: 0 auto;
    max-width: 883px;
    min-height: 445.319px;
    flex-shrink: 0;
}

.feedback__wrap h3 {
    margin: 0;
    font-family: "YesevaOne-Regular", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
}

.feedback__data {
    margin-bottom: 2.92px;
    display: flex;
    gap: 58px;
    min-width: 58.529%;
}

.feedback__form {
    display: flex;
    width: 58.529%;
    margin: 0 0 0 0.62px;
}

.feedback__data-form {
    margin: 0;
    width: 44,68%;
}

.feedback__checkbox {
    display: flex;
    margin-bottom: 4.61px;
    width: 32.76%;
}

.feedback__checkbox label {
    font-size: 14px;
    line-height: 163.68%; /* 22.915px */
}

/*-------------------------------------------------------------------------section map---------------------------------------------------------------------------*/
.map {
    display: flex;
    flex-direction: column;
    min-height: 1209.74px;
    margin-top: -478.63px;
    position: relative;
    z-index: -1;
}

.map__bilding {
    min-height: 261.64px;
}

.map__bilding::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 21.628%;
    background-image: url(../images/png/background_bilding.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    opacity: 0.08;
}

.map__wrap {
    background-image: url(../images/jpeg/map__background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding: 274.67px 0 65.55px 0;
    min-height: 954px;
    position: relative;
    z-index: 1;
}

.map__wrap::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    top: 0;
    left: 0;
    z-index: -1;
}

.map__wrap h3 {
    max-width: 589px;
    flex-shrink: 0;
    color: #E3B873;
    text-align: center;
    font-family: "YesevaOne-Regular", serif;
    font-size: 20px;
    line-height: 138.6%; /* 27.72px */
    text-transform: uppercase;
}

.map__icon {
    max-width: 71px;
    max-height: 28px;
    flex-shrink: 0;
    margin-bottom: 18px;
}

.map__img {
    max-width: 926px;
}

/*-------------------------------------------------------------------------footer---------------------------------------------------------------------------*/
.footer {
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding-top: 1px;
    min-height: 133px;
    min-width: 100%;
    background: #131313;
}









/*---------------------------------------- Адаптив---------------------------------------------- */
