
@import url("font.css");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "NunitoSans-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
}
html,
body {
    height: 100%;
}

a, button {
    cursor: pointer;
}

.wrapper {
    max-width: 1438px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 15px;
}

/*-----------------------------------------Шапка--------------------------------------------------------*/
.header {
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding-top: 1px;
    min-height: 83px;
    min-width: 100%;
    background: #131313;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1256px;
    margin: 0px auto;
    padding-left: 2px;
    min-height: 37px;
    gap: 45px;
    position: relative;
}

.header__logo {
    min-width: 179.745px;
    min-height: 10px;
    flex-shrink: 0;
    color: #E3B873;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__nav {
    display: flex;
    min-width: 581px;
    min-height: 10px;
    margin: 00 20.81px 0 50.47px
}

.header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 47.9px;
    margin: 0;
    padding: 0;
    position: relative;
} 

.header__link {
    padding-right: 6px;   
    color: #FFF;
    font-size: 11px;
    white-space: nowrap;
}

.link__home {
    color: #E3B873;
}

.button {
    display: inline-flex;
    padding: 13px 33px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 161px;
    max-height: 37px;
    flex-shrink: 0;
    margin-top: 1px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFFFFF;
    font-family: "NunitoSans-Italic", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header__phone {
    display: flex;
    justify-content: end;
    min-width: 126px;
    min-height: 16px;
    flex-shrink: 0;    
    padding-top: 6px;
}

.header__phone a {
    color: #E3B873;
    font-size: 11px;
    text-decoration-line: underline;
}

/*-----------------------------------------Main--------------------------------------------------------*/

.main {
    flex: 1 1 auto;
    position: relative;
}

.main__page {
    min-height: 100%;
    position: relative;
}

.main__page-wrap {
    min-height: 100%;
    padding-top: 54px;
    position: relative;
}

.page__container {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    max-width: 1256px;
    min-height: 100%;
    position: relative;
}

.main__presentation-btn-container {
    display: flex;
    gap: 42px;
}

.main__presentation {
    display: flex;
    min-height: 707px;
    max-width: 100%;
    background-image: url(../images/jpeg/background-of-the-first-section.jpg);
    background-size: 100%; 
    position: relative;
    z-index: -2;   
}

.main__presentation:after {
    content: '';
    background: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.main__presentation-wrap {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    min-width: 1256px;
    justify-content: start;
    padding: 194px 0 0 42px;
    gap: 19px;
    min-height: 100%;
    position: relative;
}

.main__presentation-title {
    display: block;
    max-width: 600px;
}

.main__presentation-title h1,
.main__presentation-title span {
    color: #FFF;
    font-family: "YesevaOne-Regular", serif;
    font-size: 40px;
    line-height: 132.825%; /* 53.13px */
    text-transform: uppercase;
}

.main__presentation-title span {
    color: #E3B873;
}

.main__presentation-text {
    display: block;
    max-width: 504px;
    margin-bottom: 22px;
}

.main__presentation-text p {
    color: #FFF;
    font-size: 22px;
    line-height: 163.68%; /* 36.01px */
}

.main__presentation-btn-one,
.main__presentation-btn-two {
    min-width: 207px;
    min-height: 51px;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
}

.main__presentation-btn-two {
    background: transparent;
    border: 1px solid #FFF;
}

.completed-projects {
    display: flex;
    min-height: 1074px;
    flex-shrink: 0;
    max-width: 100%;
    background-color: #131313;
}

.completed-projects__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1256px;
    gap: 50px;
    margin: 0 auto;
    padding: 107px 43px 257.21px 42px;
}

.projects-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 69.36px;
    gap: 34px;
}

.projects-info__row {
    display: flex;
    gap: 68px;

}

.projects-info__column {
    display: flex;
    flex-direction: column;
    min-width: 124px;
    gap: 9px;
}

.projects-info h2 {
    flex-shrink: 0;
    color: #E3B873;
    font-family: "YesevaOne-Regular", serif;
    font-size: 27px;
    line-height: 138.6%; /* 37.422px */
    letter-spacing: -1.89px;
    text-transform: uppercase;
}

.projects-info p {
    display: inline-block;
    max-width: 442px;
    margin-bottom: 8px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    line-height: 190.96%; /* 26.734px */
}

.projects-info__column h3 {
    flex-shrink: 0;
    color: #E3B873;
    font-family: "YesevaOne-Regular", serif;
    font-size: 18px;
    line-height: 138.6%; /* 24.948px */
    text-transform: uppercase;
}

.projects-info__column p {
    font-size: 13px;
    line-height: 163.68%; /* 21.278px */
    max-width: 92px;
}

.projects-info__img-control {
    padding-top: 65px;
}

.projects-picture {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.projects-picture__list {
    display: flex;
    gap: 60.5px;
}

.projects-picture__item span {
    color: rgba(255, 255, 255, 0.30);
    font-family: "YesevaOne-Regular", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%; /* 19.404px */
    text-transform: uppercase;
}

.projects-picture__item:first-child span {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6.68px;
}

.online-control {
    display: flex;
    margin-top: -324px;
    min-height: 955px;
    flex-shrink: 0;
    max-width: 100%;
}

.online-control__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1256px;
    gap: 31.21px;
    margin: 0 auto;
    padding: 0;
}

.online-control__dividing-line {
    margin: 30.218px 0 3.25px 0;
    width: 55px;
    height: 1.543px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #E3B873;
}

.online-control__text p {
    max-width: 681px;
    max-height: 130.911px;
    padding-bottom: 62.25px;
    flex-shrink: 0;
    color: #363636;
    text-align: center;
    font-size: 18px;
    line-height: 204.6%; /* 36.828px */
}

.online-control__camera-img {
    max-width: 196px;
    max-height: 66.792px;
    flex-shrink: 0;
}

.online-control__picture-img {
    max-width: 817px;
    max-height: 434px;
    flex-shrink: 0;
}

.online-control__data-input {
    display: flex;
    flex-wrap: wrap;
    gap: 49px;
    max-width: 769px;
    max-height: 51px;
}

.online-control__btn {
    min-width: 200px;
    min-height: 51px;
    flex-shrink: 0;
    border: #E3B873;
}

.online-control__label {
    display: flex;
    flex-direction: column;
    gap: 6.97px;
    max-width: 231px;
    color: #363636;
    line-height: 163.68%; /* 22.915px */
}

.online-control__label span {
    max-height: 12px;
    color: rgba(54, 54, 54, 0.50);
    font-size: 13px;
    line-height: 163.68%; /* 21.278px */
    transform: rotate(-0.068deg);
    flex-shrink: 0;
}

.online-control__label input {
    max-height: 17px;
    border: none;
    color: #363636;
    font-size: 14px;
    line-height: 163.68%; /* 21.278px */
    flex-shrink: 0;
}
.online-control__data-checkbox {
    display: flex;
    justify-content: center;
    padding-top: 6.03px;
}

























.page__img {
    position: absolute; top: 261px; right: -120px;
    z-index: -1;
}



.page-two__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    position: relative;
}

.page__title {
    margin: 0px;
    color: var(--text-primary, #333);
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.667%;
}

.page__tagspanel {          /*--список tagspanel--*/     
    margin-top: 9px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    min-height: 32px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.tagspanel__item {           /*--элементы списка--*/  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    padding: 6px 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    max-height: 32px;
    cursor: pointer;
}

.tagspanel__item-self {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    border-radius: 24px;
    border: 2px solid #16C8BB;
    max-height: 32px;
    cursor: pointer;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.857%;
}

.tagspanel__item span,
.page__item span {
    color: #333;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.857%;
    white-space: nowrap;
}

.tagspanel__box {       /*--элементы списка с иконками tagspanel--*/  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    padding: 6px 8px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    cursor: pointer;
}

.item-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tagspanel__box-all, 
.tagspanel__box-self,
.page__item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4px;
}

/*-----------------------------------------page__cards--------------------------------------------------------*/
.page__cards { 
    display: -webkit-inline-box; 
    display: -ms-inline-flexbox; 
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 24px;
    -webkit-column-gap: 2%;
       -moz-column-gap: 2%;
            column-gap: 2%;
}

.page__list {          /*--список карточек--*/     
    padding-top: 8px;
    padding-left: 8px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

.page__item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 6px 8px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    background: rgba(255, 255, 255, 0.70)
}

.cardsfist__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%
}

.cardsfist__image-one {
    background-image: url(../images/png/eggs.png);
    background-size: cover;
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardsfist__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    min-height: 240px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 16px 16px 16px 16px;
    border: 1px solid #C1C5CD;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: white;
}

.cardsfist__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
}

.cardsfist-one__text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 541px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
}

.cardsfist__title {
    display: block;
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.444%;
}

.cardssecond__link {
    width: 32%;
}

.cardssecond__subtitle {
    color: #494949;
    font-family: "Montserrat-Regular",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25px;
}

.cardsfist__subtitle {
    display: block;
    -webkit-margin-before: 0px;
            margin-block-start: 0px;
    -webkit-margin-after: 8px;
            margin-block-end: 8px;
    font-family: "Montserrat-Regular",sans-serif;
    color: #494949;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25px;
}

.cardsfist__copy {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    color: var(--text-primary, #333);
    font-family: "Montserrat-Regular",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%; 
}

.cardssecond__copy {
    color: var(--text-primary, #333);
    font-family: "Montserrat-Regular",sans-serif;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
    overflow-x: hidden;
}

.cards__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: end;
        align-content: end;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin: 0;
    font-family: "Montserrat-Regular",sans-serif;
    color: #868686;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25px;
}

.cardsfist__image-two {
    background-image: url(../images/png/run.png);
    background-size: cover;
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardsfist-two__title {
    display: block;
    -webkit-margin-before: 0px;
            margin-block-start: 0px;
    -webkit-margin-after: 4px;
            margin-block-end: 4px;
    color: var(--text-primary, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.444%;
}

.cardssecond__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.cardsfist__text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
}

.cardssecond__image {
    background-image: url(../images/png/girl-on-the-bed.png);
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardssecond__two-image {
    background-image: url(../images/png/girl-in-the-water.png);
    background-position: right;
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardssecond-three__image {
    background-image: url(../images/png/sign-in-hands.png);
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardssecond__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    min-height: 216px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 16px 16px 16px 16px;
    border: 1px solid #C1C5CD;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.cardssecond__title {
    color: var(--text-primary, #333);
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.444%;
}

.cardthird-one__image {
    background-image: url(../images/png/woman-at-the-table.png);
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardthird__two-image {
    background-image: url(../images/png/woman-laptop-bed.png);
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.cardthird-three__image {
    background-image: url(../images/png/2-men.png);
    max-width: 100%;
    min-height: 260px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.page__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    min-height: 176px;
}

.page__button-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 182px;
    padding: 12px 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: none;
    font-family: "Montserrat-Bold", sans-serif;
    background: var(--primary-400, #35B3A9);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/*-----------------------------------------Вторая страница--------------------------------------------------------*/

.page-two__hero {
    max-width: 690px;
}

.page-two__title {
    display: inline-block;
    max-width: 95%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    color: var(--text-primary, #333);
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: wrap;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.666%;  
}

.page-two__author-date {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 16px;
    gap: 8px;
}

.page-two__author-date span {
    color: #494949;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

.page-two__author-date .page-two__author-self {
    color: #2963A3;;
}

.page-two__hero-img {
    margin: 24px 0px 24px 0px;
    min-height: 331px;
    background-image: url(../images/png/girl-in-the-water-2.png);
}

.page-two__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
}

.list-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 4px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.page-two__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 14px;
    font-family: "Montserrat-Medium", sans-serif;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.page-two__list-block-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.page-two__list-title {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    /* H5 bold 16:24 */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.page-two__sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.page-two__sublist-item-first {
    display: block;
    padding-left: 56px;
}

.page-two__sublist-item-second {
    display: block;
    padding-left: 72px;
}

.page-two__sublist-item-third {
    display: block;
    padding-left: 88px;
}

.page-two__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
}

.page-two__list-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

.page-two__list-block-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 8px;
}
.page-two__list-item-sixth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.page-two__list-item-seventh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
}

.hero__title-h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
    margin: 24px 0px 40px 0px;
}

.hero__title-h2 h2 {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    /* H3 24:32 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
}

.hero__title-h2 p {
    font-family: "Montserrat-Medium", sans-serif;
    display: block;
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.hero__quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 24px;
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--blue-b-80, #F3F7FE);
}

.hero__quote-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 82px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    position: relative;
}

.hero__quote-wrapper p {
    font-family: "Montserrat-Italic", sans-serif;
    width: 642px;
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
}

.hero__quote-img {
    width: 55.776px;
    height: 36px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    fill: var(--text-primary, #333);
    opacity: 0.7;
    position: absolute; top: 0px; left: 0px;
}

p.hero__quote-author {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
/* H5 bold 16:24 */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.infoblock-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
}

.infoblock-one h2 {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    /* H3 24:32 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
}

.infoblock-one__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.infoblock-one__item p {
    font-family: "Montserrat-Medium", sans-serif;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.infoblock-one__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
    margin: 24px 0px;
    font-family: "Montserrat-Regular", sans-serif;
    color: #868686;
    /* xl/ text 3 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    letter-spacing: 0.25px;
}

.infoblock-one__figure-img {
    min-width: 100%;
}

.infoblock-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
}

.infoblock-two p {
    font-family: "Montserrat-Medium", sans-serif;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.infoblock-two__wrap-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 104px 48px 102px;
    min-height: 168px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    position: relative;
}

.infoblock-two__img-one {
    width: 240px;
    height: 168px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    fill: var(--status-purple-white, #FFEDEE);
    position: absolute;
    z-index: 0;
}

.infoblock-two__wrap-one p {
    font-family: "Montserrat-Italic", sans-serif;
    max-width: 485px;
    color: var(--text-primary, #333);
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    z-index: 1;
}
.infoblock-two__wrap-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.infoblock-two__wrap-two p {
    min-height: 380px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
}

.infoblock-two__wrap-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--status-yellowe-white, #FEFAEC);
}

.infoblock-two__wrap-three h3,
.infoblock-two__wrap-four h3,
.infoblock-two__wrap-six h3 {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    /* H5 bold 16:24 */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.infoblock-tree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.infoblock-tree p {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
}
.infoblock-two__wrap-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: var(--status-orange-white, #FFF3EB);
}

.wrap-five {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

.wrap-five__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
}

.wrap-five__item-img-one {
    background-image: url(../images/png/chair.png);
    min-width: 100%;
    min-height: 235px;
}

.wrap-five__item-img-two {
    background-image: url(../images/png/rescuer.png);
    min-width: 100%;
    min-height: 235px;
}

.wrap-five__item p {
    max-width: 100%;
}


.infoblock-two__wrap-six {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: rgba(3, 178, 165, 0.10);
}

.infoblock-two__tagspanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
}

.infoblock-two__tagspanel-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 691px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

.infoblock-two__tagspanel-wrap a {
    color: #2963A3;
}

.infoblock-two__tagspanel-wrap p {
    color: #494949;
}

.page-two__line {
    margin: 48px 0px 72px 0px;
    width: 1200px;
    height: 1px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #DEDEDE)
}

.responds-problem__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
    position: relative;
    margin-bottom: 107px;
    gap: 303px;
}

/*-----------------------------------------Aside--------------------------------------------------------*/

.aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 23.5%;
    position: relative;
} 

.aside__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    gap: 28px;
}   

.aside__img-blotbig {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: absolute; 
    top: 2404px; 
    right: -15px;
}

.item-one {
    padding: 24px;
    max-height: 512px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 16px;
    background: var(--blue-b-95, #E6F0FD);
}

.item-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 481px;
    padding: 24px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    position: relative;
}

.item-one__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    position: relative;
}

.item-one__wrap-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 206px;
    min-width: 91.2%;
    position: relative;
    background-image: url(../images/png/family.png);
    background-size: cover;
    background-position-x:  center;
}

.item-one__img {
    display: block;
    margin-bottom: 3px;
    position: absolute; top: 0px; left: -11px;
}
.item-two__img {
    border-radius: 60px;
}

.item-one__text  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    text-align: center;
}

.item-two__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 87.720%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
}

.item-two__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    max-width: 100%;
}

p.item-two__subtitle.subtitle {
    margin: 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: var(--text-primary, #333);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

h3.item-two__title {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.item-one__copy {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    color: var(--text-primary, #333);
    text-align: center;
    /* Text 2 14:20 */
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

.item-two__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4px;
    gap: 8px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    font-family: "Montserrat-Medium", sans-serif;
    color: var(--neutrals-n-66, #A2A7B1);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.857%;
}

.item-two__rectangle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1px;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    background: #FFF;
    -webkit-box-shadow: 0px 1px 0px 0px #DEDEDE;
            box-shadow: 0px 1px 0px 0px #DEDEDE;
}

ul.item-two__sublist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-height: 112px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}

li.item-two__sublist-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    font-family: "Montserrat-Regular", sans-serif;
    color: var(--text-primary, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

h3.item-two__sublist-title {
    font-family: "Montserrat-Bold", sans-serif;
    max-width: 100%;
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.item-one__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px 0px;
    gap: 16px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
}

.aside__btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 49.542%;
}

.aside__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 48px;
    padding: 12px 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: none;
    font-family: "Montserrat-Bold", sans-serif;
    background: var(--primary-400, #35B3A9);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.possibility {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    position: absolute; top: 16px; left: 16px;
}

.possibility__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 6px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    border-radius: 6px;
    font-family: "Montserrat-Medium", sans-serif;
    background: rgba(243, 244, 248, 0.70);
    color: var(--text-primary, #333);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.25px;
}

.item-three__link {
    display: block;
    min-height: 292px;
    background-image: url(../images/png/present.png);
    border-radius: 16px;
}
.item-four {
    min-height: 304px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
    -webkit-box-shadow: 0px 30px 50px 0px #EFF5FB;
            box-shadow: 0px 30px 50px 0px #EFF5FB;
    padding: 32px;
    position: relative;
    background-image: url(../images/png/present-box.png); 
    background-position: right bottom;
    background-repeat: no-repeat;
}

.item-four__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
}

.item-four__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 4px;
}

.item-four__title h3 {
    width: 17px;
    font-family: "Montserrat-Bold", sans-serif;
    color: #2963A3;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 128%;
}

.item-four__title p {
    font-family: "Montserrat-Bold", sans-serif;
    color: #2963A3;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.444%;
}

p.item-four__subtitle {
    font-family: "OpenSans-Regular";
    max-width: 100%;
    color: var(--primery-b-10, #011632);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

p.item-four__price {
    font-family: "Montserrat-Bold", sans-serif;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
}

.item-four__img {
    width: 282px;
    height: 304px;
    position: absolute; right: 0px; bottom: 0px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 0;
}

.responds-problem {
    max-width: 1440px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.responds-problem__img-one {
    width: 73px; 
    height: 240px;
    position: absolute; 
    right: -15px; 
    bottom: 198px;
}

.responds-problem-block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 32px;
}

.responds-problem-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
}

.responds-problem__img-two {
    width: 520px;
    height: 330px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.responds-problem__img-three {
    width: 100%;
    max-height: 82px;
    position: absolute;
    bottom: 301px;
}

.responds-problem-info h2 {
    font-family: "Montserrat-Bold", sans-serif;
    color: var(--text-primary, #333);
    /* H1 48:56 */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 116.667%;
}

.responds-problem-info p {
    font-family: "Montserrat-Regular", sans-serif;
    color: var(--text-primary, #333);
    /* Text 18:26 */
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 144.444%;
}

/*-----------------------------------------Footer--------------------------------------------------------*/

.footer {
    background: #2963A3;
    padding: 0 15px;
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0 17px 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: #2963A3;
    max-width: 1200px;
}

.footer__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
}

.footer__info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    gap: 48px;
}

.footer__info a {
    padding: 0;
    margin: 0  ;
    font-family: "Montserrat-Regular", sans-serif;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.85%;
    opacity: 0.7;
}

.footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 93px;
}

.footer__link {
    font-family: "Montserrat-Bold", sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    margin: 0;
    gap: 16px;
    list-style: none;
}

.footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    max-width: 486px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.footer__subscribe-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    width: 79.012%;
}

.footer__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background: #FFF;
}

.footer__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 14px 0px 14px 16px;
    color: var(--text-secondary, #9D9D9D);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
    border-radius: 4px;
    border: 1px solid rgba(157, 157, 157, 0.20);
    background: #FFF;
} 

.footer__input:active, .footer__input:focus {
    outline: 1px solid #16C8BB;
}

.footer__button {
    position: absolute; top: 0; right: 0; bottom: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 100%;
    padding: 14px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 4px;
    border: none;
    background: #16C8BB;
}

.footer__button-icon {
    width: 24px;
    height: 24px;
} 

.footer__button:hover{
    background: #12a39a;
}

.footer__subscrib-desc {
    margin: 0;
    color: #FFF;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.444%;
}

.footer__subscrib-desc2 {
    max-width: 486px;
    color: #FFF;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.25px;
}

.skolkovo-link__img {
    width: 221px;
    height: 50px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.social-links__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-links__item {
    width: 32px;
    height: 32px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 60px;
    background: #EFF5FB;
}

.skolkovo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
}

.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
}

.footer__rectangle {
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 16px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #9D9D9D)
}

/*---------------------------------------- Адаптив---------------------------------------------- */
